@font-face {
    font-family: 'MyFont';
    src: url('/fonts2/ComicSansMs.woff2') format('woff2'),
         url('/fonts2/ComicSansMs.woff') format('woff'),
         url('/fonts2/ComicSansMs.svg') format('svg'),
         url('/fonts2/ComicSansMs.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+000-5FF;
}

@font-face {
    font-family: 'MyFont';
    src: url('/fonts/comicneue-regular-webfont.woff2') format('woff2'),
         url('/fonts/comicneue-regular-webfont.woff') format('woff'),
         url('/fonts/comicneue-regular-webfont.svg') format('svg'),
         url('/fonts/ComicNeue-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0020—007F;
}


@media screen and (max-height: 1080px) {
    .wrapper-main {
        font-family: MyFont;
        text-align: center;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        max-width: 920px;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 2px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
    }
    .wrapper-body {
        flex: 1 1 auto;
        padding: 1rem 1rem;
    }
    .wrapper1{
        position: relative;
        text-align: center;
        font-size: 70px;
        font-family: MyFont;
        padding-top: 6px;
    }
    .wrapper2{
        position: relative;
        width: calc(100% - 100px);
        max-width: 920px;
        font-size: 150%;
        font-family: MyFont;
        padding: 15px;
        align-items: center;
        background: linear-gradient(90deg, black 50%, transparent 50%), linear-gradient(90deg, black 50%, transparent 50%), linear-gradient(0deg, black 50%, transparent 50%), linear-gradient(0deg, black 50%, transparent 50%);
        background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
        background-size: 15px 4px, 15px 4px, 4px 15px, 4px 15px;
        background-position: 0px 0px, 200px 100px, 0px 100px, 200px 0px;
        animation: border-dance 4s infinite linear;
    }
    
    
    .wrapper3{
        text-align: center;
        font-size: 40px; 
        font-family: MyFont;
    }
    
    .wrapper4{
        position: absolute;     
        left: calc(50% - (441px / 2));
        padding-top: 100px;
    }

    .image{
        width: 75px;
        height: 75px;
        transition: 0.7s;
    }

    .image:hover{
        border-radius: 50px;
        box-shadow: inset 0 0 100px rgba(0, 0, 0, 1);
    }

    .wrapper5{
        padding-top: 190px;
        text-align: center;
        font-size: 23px;
        font-family: MyFont;
    }
    
    .container{
        position: relative;
        width: 200px;
        left: calc(50% - 100px);
        transition: 1s;
        padding-bottom: 50px;
    }

    .main_btn{
        font-size: 50px;
    }
    
    .preview-block__btn {
        max-width: 350px;
        margin-top: 35px;
    }
    
    .custom-btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: auto;
        height: 80px;
        padding-top: 2px;
        border: none;
        border-bottom: 2px solid #3e58ea;
        border-radius: 25px;
        position: relative;
        font-weight: bold;
        text-decoration: none;
        color: #FFF;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        overflow: hidden;
        background: #536DFE;
        background: #536dfe;
        background: #536DFE;
        -webkit-box-shadow: 0px 9px 16px 0px #536DFE;
        box-shadow: 0px 9px 16px 0px #536DFE;
        -webkit-transition: ease 0.3s;
        transition: ease 0.3s;
        -webkit-transition: 1s;
        transition: 1s;
    }
    
    .custom-btn:hover{
        background: #495ed8;
        
    }
    
    .custom-btn:before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #fa4923;
        opacity: 0;
        z-index: 1;
        -webkit-transition: ease 0.3s;
        transition: ease 0.3s;
    }
    
    .custom-btn:after {
        content: "";
        display: block;
        width: 30px;
        height: 300px;
        margin-left: 60px;
        background: #fff;
        position: absolute;
        left: -40px;
        top: -150px;
        z-index: 1;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: all 0.1s;
        transition: all 0.1s;
        -webkit-animation-name: slideme;
        animation-name: slideme;
        -webkit-animation-duration: 3s;
        animation-duration: 3s;
        -webkit-animation-delay: 0.05s;
        animation-delay: 0.05s;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }  
}


@media screen and (min-height: 1081px) {
    .wrapper-main {
        font-family: MyFont;
        text-align: center;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        max-width: 920px;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 2px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
    }
    .wrapper-body {
        flex: 1 1 auto;
        padding: 1rem 1rem;
    }
    .wrapper1{
        position: relative;
        text-align: center;
        font-family: MyFont;
        padding-top: 6px;
        font-size: 97px;
        letter-spacing: 4px;
    }
    .wrapper2{
        position: relative;
        width: calc(100% - 100px);
        max-width: 920px;
        font-size: 150%;
        font-family: MyFont;
        padding: 15px;
        align-items: center;
        background: linear-gradient(90deg, black 50%, transparent 50%), linear-gradient(90deg, black 50%, transparent 50%), linear-gradient(0deg, black 50%, transparent 50%), linear-gradient(0deg, black 50%, transparent 50%);
        background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
        background-size: 15px 4px, 15px 4px, 4px 15px, 4px 15px;
        background-position: 0px 0px, 200px 100px, 0px 100px, 200px 0px;
        animation: border-dance 4s infinite linear;
    }
    
    
    .wrapper3{
        text-align: center;
        font-family: MyFont;
        font-size: 56px;
        letter-spacing: 0.1px;
        padding-bottom: 20px;
    }
    
    .wrapper4{
        position: absolute;     
        left: calc(50% - (591px / 2));
        padding-top: 100px;
    }

    .image{
        width: 105px;
        height: 105px;
        transition: 0.5s;
    }

    .image:hover{
        border-radius: 50px;
        box-shadow: inset 0 0 100px rgba(0, 0, 0, 1);
    }

    .wrapper5{
        padding-top: 215px;
        text-align: center;
        font-size: 35px;
    }
    
    .container{
        position: relative;
        width: 300px;
        left: calc(50% - 150px);
        transition: 1s;
        padding-bottom: 50px;
    }

    .main_btn{
        font-size: 75px;
    }
    
    .preview-block__btn {
        max-width: 350px;
        margin-top: 35px;
    }
    
    .custom-btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 300px;
        height: 120px;
        padding-top: 2px;
        border: none;
        border-bottom: 5px solid #3e58ea;
        border-radius: 37.5px;
        position: relative;
        font-weight: bold;
        text-decoration: none;
        color: #FFF;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        overflow: hidden;
        background: #536DFE;
        background: #536dfe;
        background: #536DFE;
        -webkit-box-shadow: 0px 13.5px 24px 0px #536DFE;
        box-shadow: 0px 13.5px 24px 0px #536DFE;
        -webkit-transition: ease 0.3s;
        transition: ease 0.3s;
        -webkit-transition: 1s;
        transition: 1s;
    }
    
    .custom-btn:hover{
        background: #495ed8;
        
    }
    
    .custom-btn:before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #fa4923;
        opacity: 0;
        z-index: 1;
        -webkit-transition: ease 0.3s;
        transition: ease 0.3s;
    }
    
    .custom-btn:after {
        content: "";
        display: block;
        width: 45px;
        height: 450px;
        margin-left: 90px;
        background: #fff;
        position: absolute;
        left: -60px;
        top: -225px;
        z-index: 1;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        -webkit-animation-name: slideme;
        animation-name: slideme;
        -webkit-animation-duration: 2.5s;
        animation-duration: 2.5s;
        -webkit-animation-delay: 0.05s;
        animation-delay: 0.05s;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }
}

@keyframes slideme {
  0% { left: -30px; margin-left: 0px; }
  30% { left: 111%; margin-left: 81px; }
  100% { left: 111%; margin-left: 81px; } }

@keyframes border-dance {
    0% {
        background-position: 0px 0px, 150px calc(100% - 100px + 100px), 0px 150px, calc(100% - 100px + 100px) 0px;
    }
    100% {
        background-position: 150px 0px, 0px calc(100% - 100px + 100px), 0px 0px, calc(100% - 100px + 100px) 150px;
    }
}
